.grid {
  height: auto;
}

.grid__container {
  width: auto;
  background: linear-gradient(to right, #1595b6, rgba(31, 38, 103, 0.9));
  border: 8px solid rgba(255, 255, 255, 0);
}

.grid__item {
  --local: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.grid__item:nth-child(odd) {
  background-color: hotpink;
}

.grid__item:nth-child(even) {
  background-color: darkorange;
}

/* Style write here */

.grid--as-grid {}

.grid__item--as-grid {}

#grid__item--1 {}

#grid__item--2 {}

#grid__item--3 {}

#grid__item--4 {}

#grid__item--5 {}

#grid__item--6 {}

#grid__item--7 {}

#grid__item--8 {}

.grid__text {}