.mb-container {
  --bar: 2em;
  --round-corner: 1.5em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.mb-container input {
  display: none;
}

.sw-ios__wrapper {}

.sw-ios__item {}

.sw-ios__item>input[type="checkbox"]:checked+.sw-ios__bar>.sw-ios__btn {
  left: var(--bar);
}

.sw-ios__item>input[type="checkbox"]+.sw-ios__bar>.sw-ios__btn {
  left: 0;
}

.sw-ios__btn {
  width: var(--bar);
  height: var(--bar);
  background-color: white;
  border-radius: var(--round-corner);
  align-self: center;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 30%);
  transition: linear .2s;
  position: relative;
}

.sw-ios__bar {
  width: calc(var(--bar) * 2);
  height: var(--bar);
  background-color: #51d568;
  display: flex;
  padding: calc(var(--bar) / 8);
  border-radius: var(--round-corner);
}

.sw-android__wrapper {}

.sw-android__item {
  display: flex;
  align-items: center;
}

.sw-android__item>input[type="checkbox"]:checked+.sw-android__btn {
  right: var(--bar);
  box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 30%);
}

.sw-android__item>input[type="checkbox"]+.sw-android__btn {
  right: calc((var(--bar) * 2) + (var(--bar) / 4));
  box-shadow: -1px 1px 5px 2px rgb(0 0 0 / 30%);
}

.sw-android__btn {
  width: var(--bar);
  height: var(--bar);
  background-color: #009688;
  border-radius: var(--round-corner);
  align-self: center;
  transition: linear .2s;
  position: relative;
}

.sw-android__bar {
  width: calc(var(--bar) * 2);
  height: calc(var(--bar) / 2);
  background-color: #77c2bb;
  display: flex;
  padding: calc(var(--bar) / 8);
  border-radius: var(--round-corner);
}