.sw-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.sw-ios__wrapper {}

.sw-ios__item {}

.sw-ios__item>input {
  display: none;
}

/* checked */
.sw-ios__item>input[type="checkbox"]:checked+.sw-ios__bar>.sw-ios__btn {
  left: 32px;
}

/* unchecked */
.sw-ios__item>input[type="checkbox"]+.sw-ios__bar>.sw-ios__btn {
  left: 0;
}

.sw-ios__btn {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 25px;
  align-self: center;
  box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 30%);
  transition: linear .25s;
  position: relative;
}

.sw-ios__bar {
  width: 64px;
  height: 32px;
  background-color: #51d568;
  display: flex;
  padding: 4px 4px;
  border-radius: 25px;
}

.sw-android__wrapper {}

.sw-android__item {
  display: flex;
  align-items: center;
}

.sw-android__item>input {
  display: none;
}

/* checked */
.sw-android__item>input[type="checkbox"]:checked+.sw-android__btn {
  right: 32px;
  box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 30%);
}

/* unchecked */
.sw-android__item>input[type="checkbox"]+.sw-android__btn {
  right: 72px;
  box-shadow: -1px 1px 5px 2px rgb(0 0 0 / 30%);
}

.sw-android__btn {
  width: 32px;
  height: 32px;
  background-color: #009688;
  border-radius: 25px;
  align-self: center;
  transition: linear .25s;
  position: relative;
}

.sw-android__bar {
  width: 64px;
  height: 16px;
  background-color: #77c2bb;
  display: flex;
  padding: 4px 4px;
  border-radius: 25px;
}